extends layout

block content
  h1= title
  h3 Welcome to #{title}
  h5 This application is a simple twitterbot, as well as random dungeon generator.
  p All materials used in the generation are either freely available under Wizards of the Coast Open Gaming License.
  p Or they were created by the creator of this bot, Malcolm Leehan

  //input(name='gen_Dungeon_button' type='button' value='Generate Another Dungeon' )