//
   Created by School on 4/2/2016.
block navigation
  ul.nav_list
    li.nav_link
      a(href='/') Homepage
    li.nav_link
      a(href='/allDungeons') All Dungeons
    li.nav_link
      a(href='/3_rooms') 3 Rooms
    li.nav_link
      a(href='/4_rooms') 4 Rooms
    li.nav_link
      a(href='/5_rooms') 5 Rooms
    li.nav_link
      a(href='/6_rooms') 6 Rooms
    li.nav_link
      a(href='/7_rooms') 7 Rooms
    li.nav_link
      a(href='/8_rooms') 8 Rooms
    li.nav_link
      a(href='/9_rooms') 9 Rooms
    li.nav_link
      a(href='/10_rooms') 10 Rooms